@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: snow;
}

p {
    font-family: 'Roboto', sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
}

a {
    color: purple;
}

#twisted-engine-documentation-master-branch {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: rgb(22, 22, 22);
}